/**
 * Place your custom styles here.
 */

 html body {
     background-color: #ccc;
 }

/*body*/
body {
    line-height:1.8;
    background-size:100%;
    background-image: url("../../../../sites/concentric/files/2018-02/Alesmith-Barrel-Room.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}

.content img {
  margin: 0px 10px 5px 0px;
}

/*tap-list*/
.well a {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      text-decoration: underline;
}
.well .views-field-field-style {
    padding-left: 10px;
}
.well .views-field-field-abv {
    padding-left: 10px;
}
.well {
    background-image: url("../images/chalkboard.jpg");
    color: #f5f5f5;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);
    font-size: 18px;
    line-height:1.5;
    clear:both;
}
.well h2 {
  margin-top:0px;
}

.taxonomy-list .views-field.views-field-field-beer-image img {
    width: 100px;
}

.taxonomy-list .views-field-title {
  font-weight: bold;
  font-size: 2em;
}

.beer-list .views-field-title {
    font-weight: bold;
    font-size: 1.5em;
}

/*logo block*/
.views-field.views-field-field-logo img {
    margin-left: auto;
    margin-right: auto;
}

/*container*/

.container-fluid {
    padding-right: 15%;
    padding-left: 15%;
    margin-left: auto;
}

.region.region-content .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/*Lets make the flexslider a background slideshow*/
.flexslider {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    border: none;
}
.flexslider img {
    height: 100vh !important;
}
/*end flexslider stuff*/

/*Content columbs*/

.group-left {
  padding-right:1%;
}

.group-middle {
  padding-right:1%;
}

.group-right {
  color:#000;
  background-color: #ccc;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);
}

.group-right .field__items {
    padding-left: 15px;
}

/*Main menu*/

/*sink animation*/
/* Sink */
ul.menu.nav.navbar-nav li a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
ul.menu.nav.navbar-nav li a:hover, ul.menu.nav.navbar-nav li a:focus, ul.menu.nav.navbar-nav li a:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
/*end sink*/

.navbar {
  margin-bottom: 0;
  z-index:100;
}

 nav#block-concentric-main-menu {
   border-radius: 50%;
   display: inline-block;
   margin-right: 20px;
   width: 400px;
   height: 400px;
   background-image: url("../images/vintage-concrete.png");
}
.navbar-nav li a {
  color:#ccc;
}
ul.menu.nav.navbar-nav {
  clear: both;
}
.navbar {
  border-radius:none !important;
}
.navbar-default {
  background-color:#fff;
  border-radius: 0;
}
header#navbar {
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);
}
.footer {
    background: #000;
    color:#fff;
    margin-top:-1px;
}
/*.navbar-nav li a{
    background-image: url("../images/hop.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }*/
  .main-container .row{
    background-color: rgba(255, 255, 255, 0.9);
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-bottom: #0074da 5px;
  }
nav#block-concentric-main-menu h2 {
    text-align: center;
    margin-top:20%;
}
nav#block-concentric-main-menu .navbar-nav {
    width: 100%;
    text-align: center;
}
 #block-concentric-main-menu ul.menu.nav.navbar-nav li {
     float: none !important;
 }
 #block-concentric-main-menu ul.menu.nav.navbar-nav li a:hover{
    background-color: rgba(255, 255, 255, 0.5);
 }

 .views-field.views-field-nothing {
    text-align: center;
}
/*style main content area*/
 .region.region-content {
    /*background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);*/
    padding: 20px;
}

/* Outline Out */
.hvr-outline-out a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-out a:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  border-radius:50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover a:before, .hvr-outline-out a:focus:before, .hvr-outline-out a:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

/* Beer grids */
.view-test-grid {
  margin-top: 1em;
}
.view-test-grid img{
  /*width: 100%;*/
  border: 3px solid #eee;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.view-test-grid img:hover{
  padding: 5px;
  border-color: #ccc;
}

/*.view-test-grid p{
  position: relative;
  bottom: 60px;
  left: 6px;
  color: #fff;
  padding: 0.5em 0.7em;
  background: rgba(17, 17, 17, .5);
  display: inline;
}*/
.taxonomy-list {
    clear: both;
    margin-bottom: 10px;
}
.taxonomy-list img {
    background: white;
    display: inline;
    float: left;
    margin-bottom: 5px;
    margin: 0 15px 30px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    min-height: 100px;
    z-index: 0;
    position: relative;
    margin:15px;
}

.view-test-grid p {
    position: relative;
    bottom: 60px;
    color: #fff;
    /*background: rgba(17, 17, 17, .5);*/
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    text-align: center;
}

.view-test-grid p a{
  text-decoration: none;
  color:#fff;
  font-weight:bold;
}

#block-views-block-test-grid-block-3 .form-group {
    text-align: center;
}

/*Footer stuff*/
.views-field-field-hours {
    float: left;
    margin-left:5%;
}
.views-field-field-map {
    float: right;
    margin-right:5%;
}
section#block-languageswitcher {
    float: right;
}
section#block-languageswitcher ul {
    list-style: none;
}
section#block-languageswitcher ul a.language-link.is-active {
  color:#777;
}
section#block-languageswitcher ul a.language-link {
  color:#ccc;
}

/*beer page*/

/*.node.node--type-beer {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.95;
}*/

.field.field--name-field-beer-image.field--type-image.field--label-hidden.field--item img {
    border-radius: 20px;
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);
}

.beer-list {
  float: left;
  clear: right;
  width: 175px;
  height: 200px;
  text-align: center;
  position: relative;
}

.beer-image img {
      background: white;
      display: inline;
      /* float: left; */
      margin-bottom: 5px;
      /* margin: 0 15px 30px; */
      border-radius:20px;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
      box-shadow: 0 4px 6px rgba(0,0,0,.3);
      -webkit-transition: all .15s linear;
      -moz-transition: all .15s linear;
      transition: all .15s linear;
      height: 100px !important;
      z-index: 0;
      position: relative;
  }

/*Small devices 767px and lower*/
@media screen and (max-width: 768px) {
    .views-field-field-hours {
      float: none !important;
      margin: 0px;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
    }
    .views-field-field-map {
      float: none !important;
      margin: 0px;
    }
    .views-field-field-map iframe {
      width:100%;
    }
    .container-fluid {
      padding-left:0%;
      padding-right:0%;
    }
    body {
      background-image:none !important;
    }
    .well {
      margin: 5%;
    }
    .region.region-navigation {
      margin: 5%;
    }
    div#navbar-collapse {
      margin: 5%;
    }
    .navbar-toggle {
      margin-right: 25px;
    }
    ul.menu.nav.navbar-nav li a {
      width:100%;
      margin-bottom: 2px;
      background-color: #ddd;
    }
    aside.col-sm-3 {
      clear:both;
    }
    .ds-3col-stacked > .group-right {
      width: 25%;
      float: none;
      clear: both;
      width: 100%;
      margin-top: 5%;
    }
    .ds-3col-stacked > .group-middle {
      width: 100%;
      float: none;
  }
    .ds-3col-stacked > .group-left {
      margin-right: 10px;
  }
    .beer-list {
      float: left;
      clear: right;
      width: 45%;
      height: 200px;
      text-align: center;
      position: relative;
      margin: 5px;
  }
    .form-item.js-form-item.form-type-select.js-form-type-select.form-item-field-style-target-id.js-form-item-field-style-target-id.form-group {
      float: left;
      margin-right: 10px;
      margin-bottom: 20px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
