/**
 * Place your custom styles here.
 */

/*body*/
body {
  line-height:1.8;
  background-size:100%;
  background:#ccc;
}

/*logo block*/
.views-field.views-field-field-logo img {
    margin-left: auto;
    margin-right: auto;
}

/*container*/

.container-fluid {
    padding-right: 15%;
    padding-left: 15%;
    margin-left: auto;
}

.region.region-content .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/*Lets make the flexslider a background slideshow*/
.flexslider {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    border: none;
}
/*end flexslider stuff*/

/*Content columbs*/

.group-left {
  padding-right:1%;
}

.group-middle {
  padding-right:1%;
}

.group-right {
  color:#000;
  background-color: #ccc;
  border-radius: 20px;
  padding: 20px;
}

.group-right .field__items {
    padding-left: 15px;
}

/*Main menu*/

/*sink animation*/
/* Sink */
ul.menu.nav.navbar-nav li a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
ul.menu.nav.navbar-nav li a:hover, ul.menu.nav.navbar-nav li a:focus, ul.menu.nav.navbar-nav li a:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
/*end sink*/

.navbar {
  margin-bottom: 0;
  z-index:100;
}

 nav#block-concentric-main-menu {
   border-radius: 50%;
   display: inline-block;
   margin-right: 20px;
   width: 400px;
   height: 400px;
   background-image: url("../images/vintage-concrete.png");
}
.navbar-nav li a {
  color:#ccc;
}
ul.menu.nav.navbar-nav {
  clear: both;
}
.navbar {
  border-radius:none !important;
}
.navbar-default {
  background-color:#fff;
  border-radius: 0;
}
header#navbar {
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);
}
.footer {
    background: #000;
    color:#fff;
}
.navbar-nav a, .active > a:hover, a:focus {
    border-radius: 50%;
    margin-bottom: 2px;
  }
nav#block-concentric-main-menu h2 {
    text-align: center;
    margin-top:20%;
}
nav#block-concentric-main-menu .navbar-nav {
    width: 100%;
    text-align: center;
}
 #block-concentric-main-menu ul.menu.nav.navbar-nav li {
     float: none !important;
 }
 #block-concentric-main-menu ul.menu.nav.navbar-nav li a:hover{
    background-color: rgba(255, 255, 255, 0.5);
 }

 .views-field.views-field-nothing {
    text-align: center;
}
/*style main content area*/
 .region.region-content {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.75);
    padding: 20px;
}

/* Outline Out */
.hvr-outline-out a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-out a:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  border-radius:50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover a:before, .hvr-outline-out a:focus:before, .hvr-outline-out a:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

/* Beer grids */
.view-test-grid {
  margin-top: 1em;
}
.view-test-grid img{
  /*width: 100%;*/
  border: 3px solid #eee;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.view-test-grid img:hover{
  padding: 5px;
  border-color: #ccc;
}

/*.view-test-grid p{
  position: relative;
  bottom: 60px;
  left: 6px;
  color: #fff;
  padding: 0.5em 0.7em;
  background: rgba(17, 17, 17, .5);
  display: inline;
}*/

.view-test-grid p {
    position: relative;
    bottom: 60px;
    color: #fff;
    /*background: rgba(17, 17, 17, .5);*/
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    text-align: center;
}

.view-test-grid p a{
  text-decoration: none;
  color:#fff;
  font-weight:bold;
}

#block-views-block-test-grid-block-3 .form-group {
    text-align: center;
}

/*Footer stuff*/
.views-field.views-field-field-hours {
    float: left;
    margin-right: 30%;
}

/*beer page*/

/*.node.node--type-beer {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.95;
}*/

.field.field--name-field-beer-image.field--type-image.field--label-hidden.field--item img {
    border-radius: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
