/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */

/* Make the logo a reasonable size */
a.site-branding__logo-link img{
	max-width:300px;
}

/* Kill adaptivetheme attribution */
.l-pr.attribution {
	display:none;
}

/*Maintenance Mode override*/

body.maintenance-page {
	text-align: center;
	background:#000;
	color:#363636;
}
