body{
  background-color: #eeeeee;
}

.block {
    padding: 25px;
    box-shadow: 0 0.0625rem 0.1875rem -0.0625rem rgba(0,0,0,0.2);
    position: relative;
    border: 0.0625rem solid #cccccc;
    border-radius: 0.25rem;
    background-color: #ffffff;
    overflow: hidden;
}
